rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    function isAdmin() {
      return isSignedIn() && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.tags.hasAny(['Admin', 'Official']));
    }
    
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isSignedIn() && (
        request.auth.uid == userId || 
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['stats', 'wallet', 'updatedAt'])
      );
      
      match /profile/{profileId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn() && request.auth.uid == userId;
        allow update: if isSignedIn() && (
          request.auth.uid == userId || 
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['stats', 'wallet', 'updatedAt'])
        );
      }
      match /notifications/{id} {
        allow read: if isSignedIn() && request.auth.uid == userId;
        allow create: if isSignedIn();
      }
    }

    match /appConfig/{id} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || (isSignedIn() && (id == 'counters'));
    }

    match /games/{id} {
      allow read, list: if isSignedIn();
      allow write: if isAdmin();
    }

    match /chatRooms/{roomId} {
      allow read, list, create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isSignedIn() && resource.data.ownerId == request.auth.uid;

      match /participants/{userId} {
        allow read, list: if isSignedIn();
        allow write: if isSignedIn() && request.auth.uid == userId;
        
        match /signaling/{peerId} {
          allow read, write: if isSignedIn();
        }
      }
      match /messages/{id} {
        allow read, list, create: if isSignedIn();
        allow delete: if isSignedIn();
      }
    }

    match /moments/{momentId} {
      // Allow all tribe members to read the global social graph
      allow read, list: if isSignedIn();
      // Allow only the author to broadcast or terminate a moment
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userId == request.auth.uid;
    }

    match /adminLogs/{id} {
      allow create: if isSignedIn();
      allow read: if isAdmin();
    }
  }
}